
$primary-color: #b3191f;
$shade-color: rgba(0, 0, 0, 0.24);

#main .carousel-inner img {
    max-height: 550px;
    object-fit: cover;
    filter: grayscale(10%);
}
#carousel {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);
}
.carousel-indicators{
    margin-bottom:0px;
}
.row-novedades {
    margin: 60px 20px 0px 20px;
}
.row-compania {
    margin: 60px 20px 0px 20px;
    display:flex;
    justify-content:center;

}
.fa-trash:hover{
    color:rgba(160, 14, 14, 0.90);
    font-size:25px;
}
.btn-delete {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0px;
    color: $primary-color;
}
.btn-delete:hover {
    color: rgba(178, 14, 14, 0.89);
}
#cart-fixed {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1031;
    width: 400px;
    background-color: white;
    animation-name: slidein;
    animation-duration: 100s;
    font-size: 14px;
}

.content-pedido-static .form-control{
    font-size:1em;
}
.content-pedido-static{
    position:absolute;
    bottom:0;
    background-color:white;
}
.col-car-pedido {
    display: flex;
    justify-content: center;
}
.date-person {
    border-top: 1px solid rgba(126, 126, 126, 0.80);
    padding-bottom: 10px;
}
.date-total {
    border-top: 1px solid rgba(126, 126, 126, 0.80);
    padding-top: 10px;
}

.tittle-car {
    background-color: $primary-color;
    height: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-pedido{
    position:relative;
    overflow-y:scroll;
    height:41%;
}
.content-pedido-detalle {
    position: relative;
    overflow-y: scroll;
    height: 200px;
}
.col-amount-pedido, .col-description-pedido, .col-price-pedido {
    padding-right: 0px;
    display:flex;
    align-items:center;
    margin-bottom:10px;
}

.tittle-car h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 55px;
    color: white;
    font-size:25px;
}



    #carousel .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
    }

    .card-style {
        padding: 0px;
    }


    .card-tittle {
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
        padding-top: 20px;
        margin-bottom: 0px;
    }

.paragraph {
    margin-left: 15px;
    margin-right: 15px;
    height: 90px;
   
}

    .col-buttonadd button:hover {
        padding: 0px;
        background-color: #b3191f;
        color: white;
        width: 100%;
    }

    .col-size p {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .col-radio {
        margin-left: 20px;
    }

    .row-size {
        display: flex;
        align-items: center;
    }

.carousel-caption p {
    margin-bottom: 0px;
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}

    .row-modal {
        padding-top: 15px;
    }

.col-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
}

    .col-buttonadd button {
        width: 100%;
        height: 100%;
        padding: 0px;
        color: white;
        background-color: #b3191f;
    }

    .description {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-cantidad {
        cursor: pointer;
    }

    .menu {
        width: 100px;
    }

    .dropdown-toggle {
        color: black;
        background-color: transparent;
        border-color: black;
    }

    .dropdown-toggle:hover {
        background-color: var(--color);
        color: white;
    }

    .cantidad {
        width: 100px;
    }

.modal-footer {
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0px;
}
.modal-body{
    padding:0px;
}
.modal-dialog {
    display: flex;
    justify-content: center;
   
}
.modal-content {
    display: flex;
    justify-content: center;
    padding:10px;
    border:none !important;
  
}

    .container-footer {
        padding: 0px;
        margin: 0px;
    }

    .col-value {
        display: flex;
        justify-content: center;
    }

    .col-buttonadd {
        border-left: 1px solid rgba(119, 119, 119, 0.493);
        padding: 0px;
    }

.image-pizzas {
    object-fit: scale-down;
    border-radius: 5px 5px 0px 0px;
}

    .text-price {
        font-size: 1em;
        color: black;
    }

    .text-center h2 {
        color: white;
        border: 0.5px solid rgba(119, 119, 119, 0.493);
        border-radius: 12px;
        cursor: pointer;
        background-color: $primary-color;
    }
    .text-center h1{
       font-weight:bold;
    }
.container-compañia {
    display: flex;
    justify-content: center;
    font-size: 20px;
    -webkit-box-shadow: 2px 1px 25px -13px rgba(0,0,0,0.73);
    -moz-box-shadow: 2px 1px 25px -13px rgba(0,0,0,0.73);
    box-shadow: 2px 1px 25px -13px rgba(0,0,0,0.73);
    margin-bottom: 20px;
}
.column-image {
    width: 450px;
    display: flex;
    justify-content: center;
    
}
.subtittle p {
    font-size:1em;
}
.container-compañia .image {
    height: 600px;
    object-fit: cover;
}

    .text-center h2:hover {
        background-color: rgba(195, 0, 0, 0.87);
    }

    .container-compañia .row{
        width:800px;
        margin:0px;
    }
    .container-compañia h6{
        font-size:1em;
        margin-top:12px;
    }
.option-show {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    display:none;
}
.option-show.enable {
    opacity: 1;
    height: auto;
    display: block;
}


.modal-content .dropdown .dropdown-toggle {
    width: 100%;
}

    .dropdown p {
        display: flex;
        justify-content: center;
    }

    .dropdown {
        padding-bottom: 35px;
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-menu li a {
        display: flex;
        justify-content: center;
    }

    .col-price-modal {
        display: flex;
        justify-content: center;
    }

    .col-price-modal-adicion {
        display: flex;
        justify-content: center;
        padding-right: 0px;
    }

    .col-price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-top: 1px solid #dcdcdc;
        border-radius: 0.5px;
    }

    .col-price p {
        margin: 0px;
        font-weight: 700;
    }

    .menu-item {
        padding: 0 40px;
        margin: 5px 10px;
        user-select: none;
        cursor: pointer;
        border: none;
    }

    .menu-item-wrapper.active {
        border: 1px blue solid;
    }

    .carousel-caption {
        padding: 0px;
    }



    .scroll-menu-arrow {
        cursor: pointer;
    }

    @keyframes click-wave {
        0% {
            height: 40px;
            width: 40px;
            opacity: 0.35;
            position: relative;
        }

        100% {
            height: 200px;
            width: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0;
        }
    }

    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 13.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 30px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: var(--color);
    }

.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: ' ';
    display: inline-block;
    font-size: .5rem;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background-color: #b3191f;
    border: 1px solid #AFADAD;
}

    .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #da282875;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }

    .option-input.radio {
        border-radius: 50%;
    }

    .option-input.radio::after {
        border-radius: 50%;
    }

    .linea {
        border-bottom: 1px solid rgba(109, 109, 109,0.9);
        margin-bottom: 10px;
    }

    .card {
        //border: 1px solid #d1d1d1;
        border-radius: 5px;
        box-shadow: 0 0 25px rgba(0,0,0,0.2);
        margin-bottom: 40px;
    }

    .card button {
        border-radius: 0 0 0 5px;
    }


    ::-webkit-scrollbar {
        width: 7px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.555);
        border-radius: 7px;
        background-color: #CCCCCC;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color: #b3191f;
        background-image: -webkit-linear-gradient(90deg,transparent,rgba(173, 16, 16, 0.4) 50%,transparent,transparent)
    }

    .card-style {
        padding: 0px;
    }

    .card-tittle {
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
        padding-top: 20px;
        margin-bottom: 0px;
    }

    .d-block {
        width: 100%;
    }

  

    #container h5 {
        font-weight: bolder;
    }

    #container h6 {
        font-weight: 600;
    }

    .carousel-image {
        align-items: flex-end;
    }

    .overlay {
        font-size: 1em;
        text-shadow: 1px 1px 2px white;
    }


.row-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    border-top: 1px solid rgba(112, 112, 112, 0.603);
}

    .row-footer .col-sm {
        display: flex;
        align-items: center;
    }

    .col-button {
        padding: 0px;
        height: 50px;
    }


    .modal-footer {
        justify-content: space-around;
        align-content: center;
        align-items: center;
        padding: 0px;
    }

    .container-footer {
        padding: 0px;
    }

    .footer-section h5 {
        display: flex;
        justify-content: center;
    }

    .pricing-header {
        margin-top: 60px;
    }

    .col-button button {
        width: 100%;
        height: inherit;
        border-radius: 0px;
        background-color: #b3191f;
        color: white;
    }

.btn-pidelinea:hover {
    color: white;
    background-color: rgba(144, 6, 6, 0.78)
}

    .fa-cart-plus {
        padding-right: 8px
    }

.image-add {
    width: 100%;
    border-radius: 5px;
}
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}

    .menu-item-wrapper.active {
        background-color: rgba(42, 39, 39,.8 );
        border: none;
    }


    .menu-wrapper {
        background: #b3191f;
        border: 1px solid #d1d1d1;
        box-shadow: 0 0 25px rgba(0, 0, 0,.2 );
        width: 100vw;
    }

    .menu-item-wrapper {
        outline: none;
        background-color: #b3191f;
    }

    .container .content {
        margin-top: 89px;
        width: 100%;
    }

    .container-horizontal {
        padding-right: 0px;
        padding-left: 0px;
    }

    .smart-order {
        display: flex;
    }

    .smart-order:before, .smart-order:after {
        content: " ";
        display: inline-block;
        -ms-flex: auto;
        flex: auto;
        height: 2px;
        background-color: #dcdcdc;
        margin-top: 22px;
        margin-top: 1.375rem;
    }
.smart-order-novedades{
    display:flex;
    margin:120px 10px 0px 10px;
}
.smart-order-novedades:before, .smart-order-novedades:after {
    content: " ";
    display: inline-block;
    -ms-flex: auto;
    flex: auto;
    height: 2px;
    background-color: #dcdcdc;
    margin-top: 22px;
    margin-top: 1.375rem;
}


.button-movil {
    display: inline;
    position: absolute;
    right: 0;
    z-index: 10034;
    background-color: #b3191f;
    top: 0px;
    color: white;
    font-size: 20px;
    height: 55px;
    width: 60px;
}
.button-movil:hover{
    color:rgba(155, 9, 9, 0.78);
}


    .col-btn-pedido {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding-bottom: 10px;
        padding-top: 20px;

    }
.font {
    position: fixed;
    height: 100vh;
    right: 400px;
    width: 100vw;
}

.col-btn-pedido button {
    padding: 0px;
    width: 400px;
    font-size: 1.5em;
    background-color: $primary-color;
    color: white;
    height: 40px;
    font-weight: bold;
}

    .col-btn-pedido button:hover {
        background-color: rgba(151, 13, 13, 0.90);
        color:white;
    }





    @media (max-width:765px) {

        .carousel-image {
            font-size: 1em;
        }

    .row-footer{
        height:auto;
    }

    .footer-section {
        padding-top: 30px;
    }

        .fo {
            display: flex;
            justify-content: center;
        }

        .menu-item-wrapper {
            width: 100%;
            text-align: center;
        }
        .content-pedido {
           
            height: 43%;
        }

         .carousel-inner img {
            max-height: 100vh;
            object-fit: cover;
            filter: grayscale(10%);
        }
    }
        @media (max-width:578px) {
            .horizontal-menu {
                margin: 0px 10px 0px 10px
            }
        }

   

