.footer {
    text-align:center;
    font-size:0.6rem; 

}
.fa-facebook-square {
    font-size: 60px;
    color: white;
}

.fa-instagram-square {
    font-size: 60px;
    color: white;
}

.fa-whatsapp-square {
    font-size: 60px;
    color: white;
}

