$primary-color: #b3191f;
.footer {
    text-align: center;
    font-size: 1rem;
}
#footer h5{
    font-weight:bold;
    font-size:25px;
 }
.fo-icons {
    display: flex;
    justify-content: center;
 }
.text {
    justify-content: center;
    display: flex;
}
.fo-icons .icons-social {
    font-size: 32px;
    padding-right: 13px;
}
.fo-icons .icons-social:hover {
    color:rgba(199, 199, 199, 0.65);
}
.fa-instagram, .fa-whatsapp {
    border: 1px solid white;
    padding: 10px 15px 10px 15px;
    border-radius:5px;
    margin-top:10px;
}
.fa-facebook {
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.li-footer {
    display: flex;
    justify-content: center;
}


.col-copy{
    display:flex;
    justify-content:center;
    margin-top:20px;
}
.list-unstyled .btn-link {
    color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.list-unstyled .btn-link:hover {
    color: white;
    background-color:rgba(48, 42, 42, 0.80);
    text-decoration:none;
}
.list-unstyled h5{
    display:flex;
    justify-content:center;
}


@media (max-width:574px) {
    .footer-categorias {
        padding-left: 30px;
    }
    .list-unstyled {
        margin-bottom: 13px;
        width: 100%;
    }
    .footer-categorias h5, li {
        display: flex;
        justify-content: center;
    }
    .footer-categorias li {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        cursor: pointer;
    }
   
}

