.footer {
    text-align:center;
    font-size:0.6rem; 
}
.fo-icons {
    display: flex;
    justify-content: center;
 }
.text {
    justify-content: center;
    display: flex;
}
.fo-icons .icons-social {
    font-size: 38px;
    padding-right: 13px;
}
.fo-icons .icons-social:hover {
    color:rgba(199, 199, 199, 0.65);
}
