.burbuja {
   
    margin-left: 10px;
}
e-row #grid-row2 {
    background-color: green;
}

.estado-pendiente {
    background-color: #DB2B30;
}

.estado-recibido {
    background-color: #F2E205;
}

.estado-enviado {
    background-color: #4EDB3E;
}

