#image-preview {
    width: 100%;
    object-fit: cover;
    margin: 10px auto;
    height: 300px;
    border-radius: 3px;
}


.image-prev {
    width: 80px;
    height: 80px;
}

.img-prop {
    border-radius: 50%;
}
